/* Sección logo menú */
.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 10%;
    z-index: 30;
    background-image: var(--color-header);
    box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.15);
}

.menu__container a {
    font-weight: 500;
    font-size: 3.25rem;
    text-decoration: none;
    color: var(--color-botones);
}

.menu__mobile {
    display: none;
}

.menu__navegacion {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu__navegacion--elemento a {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--color-terciario);
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.menu__navegacion--elemento a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--color-botones);
    ;
    border-radius: 8px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: -1;
}

.menu__navegacion--elemento a:hover::before {
    transform: translate(-50%, -50%) scale(1.6);
}

.menu__navegacion--elemento a:hover {
    color: white;
}


.menu__navegacion--elemento a:hover {
    transform: scale(1.2);
    transform-origin: center;
    z-index: 10;
}

/* Seccion Inicio */

.inicio__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 80px;
    padding: 5% 10%;
    scroll-margin-top: 80px;
}

.inicio__container svg {
    width: 100%;
    height: 100%;
}

/*Movimiento a imagen svg*/
rect.inicio__movimiento,
circle.inicio__movimiento,
polygon.inicio__movimiento,
path.inicio__movimiento {
    stroke-width: 5px;
    stroke: rgba(163, 218, 218, 0.6);

}

.inicio__informacion {
    padding: 4% 4% 0% 0%;
    text-align: left;
}

.fa-solid,
.inicio__informacion__saludo {
    font-size: 3.25rem;
    font-weight: 900;
    color: var(--color-terciario);
    margin: 0;
}

.portafolio__titulo h2,
.skills__titulo,
.formacion__titulo {
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 40px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    display: inline-block;
}

.fa-hand {
    color: #ffc3aa;
}

.inicio__informacion__nombre {
    font-size: 3.125rem;
    margin: s0;
}

.nombre__leisy {
    color: var(--color-secundario);
}

.inicio__informacion p,
.sobre__mí__descripcion p,
.skills__info p,
.formacion__acad__info p {
    font-size: 1.4rem;
    text-align: left;
}

/* Redes sociales */


.inicio__redes__sociales ul {
    display: flex;
    list-style: none;
    padding: 4% 0% 4% 0%;
    gap: 40px;
    font-size: 1rem;
}

.inicio__redes__sociales a {
    text-decoration: none;
    color: var(--color-terciario);
    padding: 8px;
    border-radius: 5px;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--color-terciario);
    position: relative;
    transition: transform 0.3s ease, border 0.3s ease;
}

.inicio__redes__sociales a:hover {
    transform: scale(1.1);
    border-color: var(--color-terciario);
    color: var(--color-botones);
}

/* Descarga cv */

a.boton-cv,
.certificado__boton {
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--color-botones);
    color: var(--color-terciario);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px var(--color-primario);
    text-transform: uppercase;
}

.a.boton-cv:hover,
.certificado__boton:hover {
    background-color: var(--color-terciario);
    color: var(--color-botones);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Seccion sobre mí */

.sobre__mí__container {
    padding: 2% 10%;
    width: 100%;
    scroll-margin-top: 80px;
}

.sobre__mi__imagen,
.certificaciones__icon {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    padding: 20px;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--color-botones);
}

.sobre__mi__imagen img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.sobre__mi__boton {
    padding: 10px 20px;
    color: var(--color-terciario);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.75rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.sobre__mi__boton:hover {
    box-shadow: 0 4px 12px var(--color-terciario)
}

.sobre__mí__descripcion {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px var(--color-primario);
}


/*Skills*/

.skills__container {
    padding: 2% 10%;
    scroll-margin-top: 80px;
}

.skills__tecnologias {
    display: flex;
    flex-wrap: nowrap;
    gap: 8rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
    overflow-x: auto;
}

.skills__swiper {
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
    cursor: default;
    padding-bottom: 40px;
}

.swiper-wrapper {
    padding-bottom: 60px;
}

.skill i {
    font-size: 10rem;
    margin-bottom: 0.5rem;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js-square {
    color: #f0db4f;
}

.fa-bootstrap {
    color: #563d7c;
}

.fa-angular {
    color: #d4173b;
}

.fa-git-alt {
    color: #f34f29;
}

.fa-users-cog {
    color: #0c747c;
}

.skill__nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.4rem;
    color: var(--color-terciario);
}

.skill:hover {
    box-shadow: 0 6px 16px var(--color-terciario);
}

.skills__swiper .swiper-pagination-bullet {
    background-color: var(--color-terciario);
    opacity: 1;
}

.skills__swiper .swiper-pagination-bullet-active {
    background-color: var(--color-botones);
}

/*Formacion Academica*/

.formacion__container {
    padding: 2% 10%;
    scroll-margin-top: 60px;
}

.formacion__linea {
    list-style: none;
    position: relative;
    padding-left: 30px;
}

.formacion__linea::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--color-botones);
}

.formacion__linea__item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 40px;
}

.linea__tiempo__punto {
    position: absolute;
    left: -1.52rem;
    top: 0.4rem;
    transform: translateX(-50%);
    width: 1rem;
    height: 1rem;
    background-color: var(--color-botones);
    border-radius: 50%;
    border: 2px solid var(--color-terciario);
    box-shadow: 0 0 0 2px var(--color-secundario);
    z-index: 1;
}

.formacion__linea article {
    display: flex;
    gap: 100px;
    text-align: left;
    background-color: var(--color-primario);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--color-primario);
}

.formacion__linea h3 {
    color: var(--color-botones);
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 5px;
}

.formacion__detalle {
    width: 40%;
}

.formacion__linea article .compania {
    color: var(--color-terciario);
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.formacion__linea article .time {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.formacion__linea article p {
    font-size: 1.4rem;
    line-height: 1.6;
    width: 60%;
    margin: 0;
}

/* Footer */

.footer {
    padding: 15px;
    text-align: center;
    color: var(--color-terciario);
    font-family: var(--fuente-inter);
    font-size: 1.25rem;
    font-weight: 400;
    z-index: 30;
    background-image: var(--color-header);
    box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.15);
}

/*dispositivos moviles*/

@media (max-width: 934px) {

    .menu__mobile {
        display: block;
    }

    .menu__navegacion {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 100%;
        left: 0;
        top: 0;
        margin: 0;
        gap: 30px;
        width: 100%;
        background-color: var(--color-secundario);
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 5px var(--color-terciario);
        transition: all 0.5s ease-in-out;
        z-index: 100;
    }

    .menu__navegacion.show {
        display: flex;
    }

    /* Seccion Inicio */

    .inicio__container,
    .sobre__mí__container {
        flex-direction: column;
        padding: 4% 4% 0% 4%;
    }

    .inicio__container svg {
        padding: 30px;
        width: 80%;
        order: 2;
    }

    .inicio__informacion {
        width: 100%;
        text-align: center;
        order: 1;
        padding-left: 15px;
    }

    /* Redes sociales */

    .inicio__redes__sociales ul {
        padding: 4% 0% 4% 0%;
        gap: 20px;
        justify-content: center;
    }

    /* seccion sobre mí */
    .sobre__mí__informacion {
        flex-direction: column-reverse;
    }

    .sobre__mi__imagen {
        width: 100%;
        order: 2;
    }

    .sobre__mi__imagen svg {
        width: 50%;
        height: auto;
    }

    .sobre__mí__descripcion {
        width: 100%;
        padding-left: 15px;
        order: 1;
    }
}

@media (max-width: 768px) {

    /*menu*/
    .menu__navegacion {
        display: none;
        flex-direction: column;
    }

    .menu__navegacion.active {
        display: flex;
    }

    .menu__mobile {
        display: block;
        cursor: pointer;
    }

    /*Inicio*/

    .inicio__informacion {
        padding-left: 15px;
    }

    .inicio__informacion__nombre {
        font-size: 2.375rem;
    }

    .inicio__informacion p {
        padding-top: 10px;
    }

    .inicio__container svg {
        display: none;
    }

    .inicio__redes__sociales {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    /*Sobre mi*/

    .sobre__mí__container {
        padding-top: 45px;
    }

    .sobre__mi__imagen {
        width: 100%;
        background-color: transparent;
        box-shadow: 0 4px 12px var(--color-botones);
    }

    .sobre__mí__descripcion {
        padding-left: 15px;
    }

    .sobre__mí__descripcion p {
        text-align: justify;
    }

    /*Skills*/



    /*Formacion Academica*/

    .formacion__container {
        padding-left: 15px;
        padding-right: 10px;
    }

    .formacion__linea__item {
        padding-left: 5px;
    }

    .formacion__linea article {
        flex-direction: column;
        gap: 30px;
        background-color: transparent;
        padding: 5px;
    }

    .formacion__detalle {
        width: 100%;
    }

    .formacion__linea article p {
        width: 100%;
        line-height: 1.2;
    }

}

.leer-mas {
    color: var(--color-botones);
    cursor: pointer;
    text-decoration: n;
    font-weight: 500;
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
    .ocultar__en__Movil {
        display: none;
    }

    .ocultar__en__Movil.mostrar {
        display: block;
    }
}