/* Sección logo menú */
.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 10%;
    z-index: 30;
    background-image: var(--color-header);
    box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.15);
}

.menu__container a {
    font-weight: 500;
    font-size: 3.25rem;
    text-decoration: none;
    color: var(--color-botones);
}

.menu__mobile {
    display: none;
}

.menu__navegacion {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu__navegacion--elemento a {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--color-terciario);
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.menu__navegacion--elemento a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--color-botones);
    ;
    border-radius: 8px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: -1;
}

.menu__navegacion--elemento a:hover::before {
    transform: translate(-50%, -50%) scale(1.6);
}

.menu__navegacion--elemento a:hover {
    color: white;
}


.menu__navegacion--elemento a:hover {
    transform: scale(1.2);
    transform-origin: center;
    z-index: 10;
}

/* Seccion Inicio */

.inicio__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 80px;
    padding: 5% 10%;
}

.inicio__container svg {
    width: 100%;
    height: 100%;
}

/*Movimiento a imagen svg*/
rect.inicio__movimiento,
circle.inicio__movimiento,
polygon.inicio__movimiento,
path.inicio__movimiento {
    stroke-width: 5px;
    stroke: rgba(163, 218, 218, 0.6);

}

.inicio__informacion {
    padding: 4% 4% 0% 0%;
    text-align: left;
}


.fa-solid,
.inicio__informacion__saludo,
.sobre__mí__titulo,
.portafolio__titulo h2,
.skills__titulo,
h2 {
    font-size: 3.25rem;
    font-weight: 900;
    color: var(--color-terciario);
    margin: 0;
}

.fa-hand {
    color: #ffc3aa;
}

.inicio__informacion__nombre {
    font-size: 3.125rem;
    margin: s0;
}

.nombre__leisy {
    color: var(--color-secundario);
}

.inicio__informacion p,
.sobre__mí__descripcion p,
.skills__info p {
    font-size: 1.4rem;
    text-align: left;
}

/* Redes sociales */


.inicio__redes__sociales ul {
    display: flex;
    list-style: none;
    padding: 4% 0% 4% 0%;
    gap: 40px;
    font-size: 1rem;
}

.inicio__redes__sociales a {
    text-decoration: none;
    color: var(--color-terciario);
    padding: 8px;
    border-radius: 5px;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--color-terciario);
    position: relative;
    transition: transform 0.3s ease, border 0.3s ease;
}

.inicio__redes__sociales a:hover {
    transform: scale(1.1);
    border-color: var(--color-terciario);
    color: var(--color-botones);
}

/* Descarga cv */

.inicio__download__cv ul {
    list-style: none;
    padding: 0;
}

.inicio__download__cv a {
    text-decoration: none;
    color: var(--color-botones);
}

.inicio__download__cv ul li a {
    font-size: 1.25rem;
    text-transform: uppercase;
}

a.boton-cv {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-botones);
    color: var(--color-terciario);
    ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/* Seccion sobre mí */

.sobre__mí__container {
    display: flex;
    align-items: center;
    padding: 2% 10%;
}

.sobre__mi__imagen {
    width: 40%;
}

.sobre__mí__container svg {
    width: 100%;
    height: 100%;
}

.sobre__mí__descripcion {
    width: 60%;
    padding-left: 80px;
}

/*Skills*/

.skills__container {
    padding: 2% 10%;
}

.skills__tituloo {
    padding-bottom: 80px;
}

.skills__tecnologias {
    display: flex;
    flex-wrap: nowrap;
    gap: 8rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
    overflow-x: auto;
}

.skills__swiper {
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
    cursor: default;
    padding-bottom: 40px;
}

.swiper-wrapper {
    padding-bottom: 60px;
}

.skill i {
    font-size: 10rem;
    margin-bottom: 0.5rem;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js-square {
    color: #f0db4f;
}

.fa-bootstrap {
    color: #563d7c;
}

.skill__nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2rem;
    color: var(--color-terciario);
}

.skill:hover {
    box-shadow: 0 6px 16px rgba(255, 255, 255);
}

/* Portafolio */
.Portafolio__container {
    padding: 5% 10%;
}

.portafolio__titulo {
    text-align: center;
    margin-bottom: 40px;
}

.portafolio__info {
    display: flex;
    grid-auto-columns: repeat(auto-fid, minmax(280px, 1fr));
    gap: 30px;
}

.portafolio__info__card {
    background: var(--color-primario);
    ;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(252, 248, 248, 0.993);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 320px;
}

.portafolio__info__card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.portafolio__info__card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
}

/* Detalles del proyecto */
.portafolio__detalle {
    padding: 20px;
    padding-right: 20px;
}

.portafolio__detalle h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #2980b9;
}

.portafolio__detalle p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    text-align: left;
}




/* Footer */

.footer {
    padding: 15px;
    text-align: center;
    color: var(--color-terciario);
    font-family: var(--fuente-inter);
    font-size: 1.25rem;
    font-weight: 400;
    z-index: 30;
    background-image: var(--color-header);
    box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.15);
}

/*dispositivos moviles*/

@media (max-width: 934px) {

    .menu__mobile {
        display: block;
    }

    .menu__navegacion {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 100%;
        left: 0;
        top: 0;
        margin: 0;
        gap: 30px;
        width: 100%;
        background-color: var(--color-secundario);
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 5px var(--color-terciario);
        transition: all 0.5s ease-in-out;
        z-index: 100;
    }

    .menu__navegacion.show {
        display: flex;
    }

    /* Seccion Inicio */

    .inicio__container,
    .sobre__mí__container {
        flex-direction: column;
        padding: 4% 1% 0% 3%;
    }

    .inicio__container svg {
        padding: 30px;
        width: 80%;
        order: 2;
    }

    .inicio__informacion {
        width: 100%;
        text-align: center;
        order: 1;
    }

    /* Redes sociales */

    .inicio__redes__sociales ul {
        padding: 4% 0% 4% 0%;
        gap: 20px;
        justify-content: center;
    }

    /* seccion sobre mí */
    .sobre__mí__informacion {
        flex-direction: column-reverse;
    }

    .sobre__mi__imagen {
        width: 80%;
        order: 2;
    }

    .sobre__mi__imagen svg {
        width: 80%;
    }

    .sobre__mí__descripcion {
        width: 100%;
        padding-left: 0%;
        order: 1;
    }
}

@media (max-width: 768px) {
    .sobre__mi__contenido {
        flex-direction: column;
    }

    .sobre__mi__imagen {
        order: 2;
    }

    .sobre__mi__descripcion {
        order: 1;
    }

    .sobre__mi__descripcion {
        width: 100%;
        padding-left: 0;
    }

    .sobre__mi__imagen {
        width: 100%;
    }

    /*Portafolio*/

    .portafolio__info {
        flex-wrap: wrap;
    }

    /*Footer*/
    /* .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        z-index: 1000;
        justify-content: center;
        text-align: center;
    } */
}